<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Ekky Software Pty Ltd. All rights reserved.
 * Please visit http://www.ekkysoftware.com
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <gopeople>
                <model>GoPeople\Shipping\Model\Carrier</model>
                <max_package_weight>10</max_package_weight>
                <active>0</active>
                <title>Go People</title>
                <services>on_demand,set_run,shift</services>
                <email>general</email>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <showmethod>0</showmethod>
            </gopeople>
        </carriers>
    </default>
</config>
